.CreateProfile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: #fff5e5;
  border-radius: 0px 0px 20px 20px;
  border: solid 3px#999999;
  max-height: 95vh;
}

.CreateProfile .submitDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.CreateProfile .uploadImage {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.CreateProfile input[type="text"],
.CreateProfile textarea {
  width: 100%;
  border: none;
  background-color: #fff5e5;
  height: 5rem;
  font-size: 2rem;
}

.CreateProfile input[type="text"]::placeholder,
.CreateProfile textarea::placeholder {
  color: #946c2c;
  font-size: xx-large;
  padding-left: 1rem;
}

.CreateProfile textarea {
  height: 25vh;
}

.CreateProfile .entry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateProfile .header p {
  color: #946c2c;
  font-size: 3rem;
  margin: 0;
  margin-left: 1.5rem;
  cursor: pointer;
}

.CreateProfile hr {
  border: 1px solid #946c2c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.CreateProfile .header {
  background-color: #f5ddb7;
  height: 13vh;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: left;
  align-items: center;
}

.CreateProfile .fileUpload {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.CreateProfile .fileUpload p {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.CreateProfile .fileUpload input {
  margin: auto;
  color: #946c2c;
}

.CreateProfile .button {
  width: 6rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.CreateProfile .button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(188, 255, 2);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.CreateProfile .button:hover::before {
  scale: 3;
}

.CreateProfile .button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.CreateProfile .button:active {
  scale: 1;
}

.CreateProfile .cyberpunk-button {
  background-color: #55942d;
  color: #fff;
  border: 2px solid #55942d;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #64a93a;
  transition: all 0.2s ease-in-out;
}

.CreateProfile .cyberpunk-button:hover {
  background-color: #64b333;
  color: #2f3640;
  border-color: #2f3640;
  box-shadow: 2px 2px 20px #2f3640;
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .CreateProfile input[type="text"] {
    height: 4rem;
    font-size: 1.8rem;
  }

  .CreateProfile textarea {
    height: 20vh;
    font-size: 1.8rem;
  }

  .CreateProfile .button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .CreateProfile .fileUpload p {
    font-size: 1.8rem;
    margin-left: 1rem;
  }
}
