.LeftCom {
  /* border: 4px solid blue; */
  width: 22%;
  margin-left: 4vh;
  margin-top: 4vh;
  height: 80vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 12.5vh;
  z-index: 1;
}

.LeftCom .leftCard {
  /* border: 2px solid rgb(77, 255, 0); */
  height: 50vh;
  width: 100%;
  background-color: #f5ddb7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.LeftCom .profileInfo {
  display: flex;
  /* align-items: center; */
  /* justify-content: right; */
}

.LeftCom .textInfo {
  position: relative;
  right: -4vh;
  top: -1.5vh;
  margin-top: 0.75vh;
  margin-left: -1vh;
}

.LeftCom .images {
  height: 100%;
}

.LeftCom p.username {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  color: #644b23;
}

.LeftCom p.updateProfile {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: x-large;
  padding: 1vh;
  cursor: pointer;
}

.LeftCom p.useraddress {
  color: #946c2c;
}

.LeftCom hr {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
  border: 1px solid #946c2c;
}

.LeftCom .buttons {
  position: relative;
  bottom: 8vh;
}

.LeftCom p.userbio {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-style: italic;
  font-size: larger;
  color: #644b23;
  /* font-family: "Inter"; */
}

.LeftCom .coverImg {
  width: 100%;
  height: 17vh;
}

.LeftCom .profileImg {
  position: relative;
  top: -5vh;
  left: 2vh;
  height: 11vh;
  width: 11vh;
  border-radius: 100%;
  padding: 0.75vh;
  background-color: #f5ddb7;
}
.LeftCom .profileImg .profileImage {
  border-radius: 100%;
  height: 11vh;
  width: 11vh;
  padding: 0;
  /* position: fixed; */
}

.LeftCom .profileInfo {
  max-height: 10vh;
}

.LeftCom .createPostBtn {
  width: 80%;
}

.LeftCom .createPostBtn button {
  z-index: 10;
  width: 100%;
  position: relative;
  padding: 13px 35px;
  background: #4e832e;
  font-size: 17px;
  font-weight: 900;
  color: #f5ddb7;
  border: solid #f5ddb7;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
  transition: all 0.3s ease-in-out;
}

.icon-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.icon-2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-4 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.icon-5 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: -2;
}

.LeftCom .createPostBtn button:hover {
  padding: 13px 25px;
  border-radius: 8px 8px 24px 24px;
}

.LeftCom .createPostBtn button:hover .icon-1 {
  top: -250%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: auto;
  animation: inIcon1 1s ease 0.45s forwards;
}

@keyframes inIcon1 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  25% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(1deg);
  }

  65% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.LeftCom .createPostBtn button:hover .icon-2 {
  position: absolute;
  top: -200%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 75px;
  height: auto;
  animation: inIcon2 1s ease 0.45s forwards;
}

@keyframes inIcon2 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(10deg);
  }

  50% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(4deg);
  }

  80% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(5deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.LeftCom .createPostBtn button:hover .icon-3 {
  position: absolute;
  top: -130%;
  left: 20%;
  transform: translate(-50%, 0);
  width: 60px;
  height: auto;
  animation: inIcon3 1s ease 0.45s forwards;
}

@keyframes inIcon3 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-2deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.LeftCom .createPostBtn button:hover .icon-4 {
  position: absolute;
  top: -300%;
  left: 10%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon4 1s ease 0.45s forwards;
}

@keyframes inIcon4 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  40% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.LeftCom .createPostBtn button:hover .icon-5 {
  position: absolute;
  top: -350%;
  left: 90%;
  transform: translate(-50%, 0);
  width: 85px;
  height: auto;
  animation: inIcon5 1s ease 0.45s forwards;
}

@keyframes inIcon5 {
  0% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  35% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(-3deg);
  }

  100% {
    transform-origin: 0 100%;
    transform: translate(-50%, 0) rotate(0deg);
  }
}

.fil-leaf-1 {
  fill: #7b9b3a;
}

.fil-leaf-2 {
  fill: #556729;
  fill-rule: nonzero;
}

.fil-leaf-3 {
  fill: #556729;
}

.fil-leaf-4 {
  fill: #3c4819;
}

.fil-leaf-5 {
  fill: #3c4819;
}
