.Navbar {
  margin: 0;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F5DDB7;
  height: 12.5vh;
  z-index: 2;
}

.logo{
  width: 200px;
  height: 90px;
  padding: 3px;
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
  transform: scale(0.98);
}

.connect-wallet {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #FFF4E3;
  background-color: #4E832E;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

.connect-wallet:hover {
  background-color: #FFF4E3;
  color: #4E832E;
  border: 2px solid #4E832E;
  box-shadow: 5px 5px 0px #4E832E;
}

.connect-wallet:active {
  background-color: #FFF4E3;
  box-shadow: none;
  transform: translateY(4px);
}

.Navbar button {
  margin: 1rem;
  padding: 1rem;
}